Dataframes- Dataframes are similar to tables in relational databases

In [2]:
import findspark
findspark.init('/opt/spark')
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()
sc = spark.sparkContext

In [25]:
from pyspark.sql import Row
from pyspark.sql import SQLContext
sqlContext = SQLContext(sc)
l = [('Ankit',25),('Jalfaizy',22),('saurabh',20),('Bala',26)]
rdd = sc.parallelize(l, 2)
people = rdd.map(lambda x: Row(name=x[0], age=int(x[1])))
schemaPeople = sqlContext.createDataFrame(people)

In [17]:
type(schemaPeople)

pyspark.sql.dataframe.DataFrame

In [18]:
schemaPeople.first()

Row(age=25, name='Ankit')

In [19]:
schemaPeople.take(4)

[Row(age=25, name='Ankit'),
 Row(age=22, name='Jalfaizy'),
 Row(age=20, name='saurabh'),
 Row(age=26, name='Bala')]

In [20]:
rdd.take(4)

[('Ankit', 25), ('Jalfaizy', 22), ('saurabh', 20), ('Bala', 26)]

In [21]:
rdd.count()

4

In [26]:
print("Number of partitions: {}".format(rdd.getNumPartitions()))
print("Partitions structure: {}".format(rdd.glom().collect()))

Number of partitions: 2
Partitions structure: [[('Ankit', 25), ('Jalfaizy', 22)], [('saurabh', 20), ('Bala', 26)]]

In [27]:
schemaPeople.show()

+---+--------+
|age|    name|
+---+--------+
| 25|   Ankit|
| 22|Jalfaizy|
| 20| saurabh|
| 26|    Bala|
+---+--------+

In [36]:
schemaPeople.registerTempTable("schemaPeople")
people_details = sqlContext.sql("""SELECT age FROM schemaPeople""")

people_details = sqlContext.sql("""SELECT age FROM schemaPeople""").show()

In [37]:
people_details.show()

+---+
|age|
+---+
| 25|
| 22|
| 20|
| 26|
+---+

In [41]:
schemaPeople.select(schemaPeople("name"))

TypeError: 'DataFrame' object is not callable

In [49]:
import pyspark.sql.functions

a = [1002, 3001, 4002, 2003, 2002, 3004, 1003, 4006]

b = sc.createDataframe(a).withColumn("x", col("value") % 1000)

c = b.groupBy(col("x")).agg(count("x"), sum("value")).drop("x").toDF("count", "total").orderBy(col("count").desc, col("total")).limit(1).show()

AttributeError: 'SparkContext' object has no attribute 'createDataset'